DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# 七牛云配置
QINIU_ACCESS_KEY=J7G7tNnL_x443f3-xx
QINIU_SECRET_KEY=xx-d4mOShZGq
QINIU_BUCKET_NAME=xx
QINIU_DOMAIN=xx.hn-bkt.clouddn.com

#数据库配置
DB_NAME=erp_system
DB_USER=root
DB_PASSWORD=xx
DB_HOST=127.0.0.1
DB_PORT=3306
